<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.diazor.chartboost"
        version   = "0.2.11">

    <name>Station Locator</name>

    <description>
        Station Locator
    </description>

</widget>
