* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  /*make transparent link selection, adjust last value opacity 0 to 1.0*/
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}


/**************************************************************** PAGE *********************************************/
.page {
    position:absolute;height:100%;width:100%;text-align: center;
    zoom:100%;
}

.start-page-background {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}
.start-page-header-bg {
    position: absolute;
    width: 1080px;
    height: 822px;
    bottom: 1080px;
    left:50%;
    margin-left: -540px;
}
.start-page-zoom {
    zoom:100%;
}

@media screen and (min-width:300px) {
    .start-page-zoom {
        zoom:29%;
    }
}
@media screen and (min-width:700px) {
    .start-page-zoom {
        zoom:56%;
    }
}
@media screen and (min-width:1000px) {
    .start-page-zoom {
        zoom:80%;
    }
}


/**************************************************************** BUTTON *********************************************/
.button {
    position:absolute;
    cursor: pointer;
}

.start-page-menu {
    background-color: #30b457;
    width: 540px;
    height: 540px;
}
.start-page-menu:hover {
    background-color: #59a04f;
}
.start-page-menu-nearme {
    background-image: url(../img/start-page-nearme-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    bottom:540px;
    left:50%;
    margin-left: -540px;
}
.start-page-menu-plantrip {
    background-image: url(../img/start-page-plantrip-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    bottom:540px;
    left:50%;
    margin-left: 0px;
}
.start-page-menu-about {
    background-image: url(../img/start-page-about-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #FFF;
    bottom:0px;
    left:50%;
    margin-left: -540px;
}
.start-page-menu-settings {
    background-image: url(../img/start-page-settings-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    bottom:0px;
    left:50%;
    margin-left: 0px;
}

.main-page-menupanel-button {
    position: relative;
    width:100%; height:50px; background-color:#30b457;
    background-position: left top;
    background-repeat: no-repeat;
}
.main-page-menupanel-button:hover {
    background-color:#59a04f;
}
.main-page-menupanel-logo {
    background-image: url(../img/main-page-menupanel-logo.png);
    height: 224px;
    margin-bottom: 35px;
}
.main-page-menupanel-mapview {
    background-image: url(../img/main-page-menupanel-mapview.png);
    height: 170px;
    margin-bottom: 6px;
}
.main-page-menupanel-aerialview {
    background-image: url(../img/main-page-menupanel-aerialview.png);
    height: 170px;
    margin-bottom: 6px;
}
.main-page-menupanel-traffic {
    background-image: url(../img/main-page-menupanel-traffic.png);
    height: 170px;
    margin-bottom: 35px;
}
.main-page-menupanel-tripplanner {
    background-image: url(../img/main-page-menupanel-tripplanner.png);
    height: 195px;
    margin-bottom: 6px;
}
.main-page-menupanel-share {
    background-image: url(../img/main-page-menupanel-share.png);
    height: 173px;
    margin-bottom: 35px;
}
.main-page-menupanel-settings {
    background-image: url(../img/main-page-menupanel-settings.png);
    height: 181px;
    margin-bottom: 6px;
}
.main-page-menupanel-about {
    background-image: url(../img/main-page-menupanel-about.png);
    height: 176px;
    margin-bottom: 35px;
}

.main-page-toolbar-menu {
    background-image: url(../img/main-page-toolbar-menu.png);
    background-size: 83px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
}
.main-page-toolbar-locateme {
    background-image: url(../img/main-page-toolbar-locateme.png);
    background-size: 113px 40px;
    background-position: right center;
    background-repeat: no-repeat;
    height: 40px;
    width: 130px;
    right:0px;
}

.main-page-bottom-toolbar {
    position: absolute;
    background-color: #FFF;
    background-size: 57px 36px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 88px;
    height: 50px;
    cursor: pointer;
}
.main-page-bottom-toolbar:hover {
    background-color: #f1f2f2;
}
.main-page-toolbar-lng {
    background-image: url(../img/main-page-toolbar-lng.png);
    left: 50%;
    margin-left: -132px;
}
.main-page-toolbar-cng {
    background-image: url(../img/main-page-toolbar-cng.png);
    left: 50%;
    margin-left: -44px;
}
.main-page-toolbar-both {
    background-image: url(../img/main-page-toolbar-both.png);
    left: 50%;
    margin-left: 44px;
}

.main-page-changeinfo-bottom-arrow {
    background-image: url(../img/main-page-moreinfo-bottom-arrow.png);
    background-size: 80px 57px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
}
.main-page-changeinfo-bottom-arrow:hover {
    background-color: #CCC;
}

.main-page-changeinfo-top-arrow {
    background-image: url(../img/main-page-moreinfo-top-arrow.png);
    background-size: 80px 57px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
}
.main-page-changeinfo-top-arrow:hover {
    background-color: #CCC;
}

/**************************************************************** PANEL *********************************************/
.main-page-menu-popup-panel {
    position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,.5);
}

.main-page-menu-panel {
    position: absolute; top: 0px; bottom: 0px; background-color: #18a147; width: 880px; height: 100%;
}

.main-page-changeinfo-panel {
    /*position:absolute; background-color:#FFF; width:270px; height: 400px;bottom:50px;left:50%;*/
    /*margin-left: -135px; */
    zoom:100%;
}

.menu-zoom {
    zoom:100%;
}
.info-zoom {
    zoom:100%;
}

@media screen and (min-width:300px) {
    .menu-zoom {
        zoom: 20%;
    }
}
@media screen and (min-width:450px) {
    .menu-zoom {
        zoom: 37%;
    }
}
@media screen and (min-width:1000px) {
    .menu-zoom {
        zoom: 44%;
    }
    .info-zoom {
        zoom:200%;
    }
}

