* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.app {

}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}

/**************************************************************** PAGE *********************************************/
.scaleApp {
    zoom:100%;
}

.page {
    position:absolute;height:100%;width:100%;text-align: center;
}
.start-page-background {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}
.start-page-header-bg {
    position: absolute;
    width: 1080px;
    height: 822px;
    bottom: 1080px;
    left:50%;
    margin-left: -540px;
}

.main-page {
    background-color:#afa;
}

@media screen and (min-width:300px) {
    .scaleApp {
        zoom:20%;
    }
}

@media screen and (min-width:1000px) {
    .scaleApp {
        zoom:100%;
    }
}
@media screen and (min-width:2000px) {
    .scaleApp {
        zoom:140%;
    }
}


/**************************************************************** BUTTON *********************************************/
.button {
    position:absolute;
    cursor: pointer;
}
.start-page-menu {
    background-color: #30b457;
    width: 540px;
    height: 540px;
}
.start-page-menu:hover {
    background-color: #59a04f;
}
.start-page-menu-nearme {
    background-image: url(../img/start-page-nearme-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    bottom:540px;
    left:50%;
    margin-left: -540px;
}
.start-page-menu-plantrip {
    background-image: url(../img/start-page-plantrip-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    bottom:540px;
    left:50%;
    margin-left: 0px;
}
.start-page-menu-about {
    background-image: url(../img/start-page-about-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #FFF;
    bottom:0px;
    left:50%;
    margin-left: -540px;
}
.start-page-menu-settings {
    background-image: url(../img/start-page-settings-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    bottom:0px;
    left:50%;
    margin-left: 0px;
}

.main-page-menupanel-button {
    position: relative;
    margin-top:5px; width: 100%;height:50px;background-color: rgba(255,255,255,.5)
}


/**************************************************************** PANEL *********************************************/
.panel {
    position:absolute;background-color:#f99;
}
.unvisible-panel {
    top:200px;height:10%;width:10%;
}
