
.holder-title {
    color:#6cb25e;font-weight:bold;font-size: 15px;
}

/*************************************** Fuel Type *******************************************/
.holder-fuel-type {
    position:absolute;height:20%;left:10px;right:10px;
}

#fuel-type-cng-info {
    position:absolute;top:40px;left:27%;width:60px;height:47px;
    background:  url('../img/icons-fuel-type.png') no-repeat -60px 0px;
}
#fuel-type-cng {
    position: absolute;width:60px;height:47px;top:31px;margin-left:10%;cursor: pointer;
    background:  url('../img/icons-fuel-type.png') no-repeat -60px 0px;
}
#fuel-type-cng.select, #fuel-type-cng-info.select {
    background:  url('../img/icons-fuel-type.png') no-repeat -60px -48px;
}

#fuel-type-lng-info {
    position: absolute;top:40px;left:50%;width:60px;height:47px;
    background:  url('../img/icons-fuel-type.png') no-repeat 0px 0px;
}
#fuel-type-lng {
    position: absolute;width:60px;height:47px;top:31px;margin-left:30%;cursor: pointer;
    background:  url('../img/icons-fuel-type.png') no-repeat 0px 0px;
}
#fuel-type-lng.select, #fuel-type-lng-info.select {
    background:  url('../img/icons-fuel-type.png') no-repeat 0px -48px;
}

#fuel-type-disel-info {
    position: absolute;top:40px;left:75%;width:60px;height:47px;display: none;
    background:  url('../img/icons-fuel-type.png') no-repeat -120px 0px;
}
#fuel-type-disel {
    position: absolute;width:60px;height:47px;top:31px;margin-left:70%;cursor: pointer;display: none;
    background:  url('../img/icons-fuel-type.png') no-repeat -120px 0px;
}
#fuel-type-disel.select, #fuel-type-disel-info.select {
    background:  url('../img/icons-fuel-type.png') no-repeat -120px -51px;
}

#fuel-type-redeem-info {
    position: absolute;top:40px;left:10px;width:60px;height:47px;
    background:  url('../img/icons-fuel-type.png') no-repeat -180px 0px;
}
#fuel-type-redeem {
    position: absolute;width:60px;height:47px;top:31px;margin-left:50%;cursor: pointer;
    background:  url('../img/icons-fuel-type.png') no-repeat -180px 0px;
}
#fuel-type-redeem.select, #fuel-type-redeem-info.select {
    background:  url('../img/icons-fuel-type.png') no-repeat -180px -48px;
}


/*************************************** Vehicle Type ****************************************/
.holder-vehicle-type {
    position:absolute;height:20%;top:18%;left:10px;right:10px;border-top: 1px solid #CCC
}

#vehicle-type-cars-info{
    position: absolute;top:50px;left:10px;width:86px;height:47px;zoom: .9;
    background: url('../img/icons-vehicle-type.png') no-repeat 0px -48px;
}
#vehicle-type-cars{
    position: absolute;width:86px;height:47px;top:31px;margin-left:0%;cursor: pointer;
    background: url('../img/icons-vehicle-type.png') no-repeat 0px -48px;
}
#vehicle-type-cars.select, #vehicle-type-cars-info.select {
    background: url('../img/icons-vehicle-type.png') no-repeat 2px 0px;
}

#vehicle-type-box-info{
    position: absolute;top:50px;left:27%;width:97px;height:47px;zoom: .9;
    background: url('../img/icons-vehicle-type.png') no-repeat -83px -48px;
}
#vehicle-type-box{
    position: absolute;width:97px;height:47px;top:31px;margin-left:25%;cursor: pointer;
    background: url('../img/icons-vehicle-type.png') no-repeat -83px -48px;
}
#vehicle-type-box.select, #vehicle-type-box-info.select {
    background: url('../img/icons-vehicle-type.png') no-repeat -81px 0px;
}

#vehicle-type-semi-info{
    position: absolute;top:50px;left:55%;width:152px;height:47px;zoom: .9;
    background: url('../img/icons-vehicle-type.png') no-repeat -183px -48px;
}
#vehicle-type-semi{
    position: absolute;width:152px;height:47px;top:31px;margin-left:55%;cursor: pointer;
    background: url('../img/icons-vehicle-type.png') no-repeat -183px -48px;
}
#vehicle-type-semi.select, #vehicle-type-semi-info.select {
    background: url('../img/icons-vehicle-type.png') no-repeat -181px 0px;
}

/*************************************** Station Status **********************************/
.holder-station-status {
    position:absolute;height:20%;top:35%;left:10px;right:10px;border-top: 1px solid #CCC
}

#station-operational {
    position: absolute;width:160px;height:30px;top:45px;margin-left:0%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#station-operational.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#station-under {
    position: absolute;width:220px;top:40px;margin-left:37%;cursor: pointer;
    padding-left: 40px; margin-top: -8px;font-weight: normal;
    background: url('../img/icons-dotbg-gray.png') no-repeat 0px 16px;color: #666;
}
#station-under.select {
    background: url('../img/icons-dotbg-green.png') no-repeat 0px 16px;color: #6cb25e;
}

#station-coming {
    position: absolute;width:160px;top:40px;margin-left:75%;cursor: pointer;
    padding-left: 40px; margin-top: -8px;font-weight: normal;
    background: url('../img/icons-dotbg-gray.png') no-repeat 0px 16px;color: #666;
}
#station-coming.select {
    background: url('../img/icons-dotbg-green.png') no-repeat 0px 16px;color: #6cb25e;
}

/*************************************** Hours of Operation **********************************/
.holder-hours-type {
    position:absolute;height:20%;top:49%;left:10px;right:50%;border-top: 1px solid #CCC
}

#hours-type-24 {
    position: absolute;width:142px;height:30px;top:45px;margin-left:0%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#hours-type-24.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#hours-type-now {
    position: absolute;width:220px;height:30px;top:85px;margin-left:0%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#hours-type-now.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

/*************************************** Flow Rate *******************************************/
.holder-flow-type {
    position:absolute;height:20%;top:49%;left:50%;right:10px;border-top: 1px solid #CCC
}

#flow-rate-low-info {
    position: absolute;width:55px;height:47px;top:120px;left:18px;zoom:0.84;
    background: url('../img/icons-flow-rate.png') no-repeat 0px 0px;
}
#flow-rate-low {
    position: absolute;width:55px;height:47px;top:40px;margin-left:0%;cursor: pointer;
    background: url('../img/icons-flow-rate.png') no-repeat 0px 0px;
}
#flow-rate-low.select, #flow-rate-low-info.select {
    background: url('../img/icons-flow-rate.png') no-repeat 0px -47px;
}

#flow-rate-medium-info {
    position: absolute;width:55px;height:47px;top:120px;left: 88px;zoom:0.84;
    background: url('../img/icons-flow-rate.png') no-repeat -60px 0px;
}
#flow-rate-medium {
    position: absolute;width:55px;height:47px;top:40px;margin-left:35%;cursor: pointer;
    background: url('../img/icons-flow-rate.png') no-repeat -60px 0px;
}
#flow-rate-medium.select, #flow-rate-medium-info.select {
    background: url('../img/icons-flow-rate.png') no-repeat -60px -47px;
}

#flow-rate-hight-info {
    position: absolute;width:55px;height:47px;top:120px;left:158px;zoom:0.84;
    background: url('../img/icons-flow-rate.png') no-repeat -120px 0px;
}
#flow-rate-hight {
    position: absolute;width:55px;height:47px;top:40px;margin-left:70%;cursor: pointer;
    background: url('../img/icons-flow-rate.png') no-repeat -120px 0px;
}
#flow-rate-hight.select, #flow-rate-hight-info.select {
    background: url('../img/icons-flow-rate.png') no-repeat -120px -47px;
}

/*************************************** Payment Types ***************************************/
.holder-payment-type {
    position:absolute;height:20%;top:68%;left:10px;right:10px;border-top: 1px solid #CCC
}

#payment-any {
    position: absolute;height:30px;top:50px;margin-left:-5px;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-any.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-clean{
    position: absolute;height:30px;top:50px;margin-left:36%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-clean.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-master {
    position: absolute;height:30px;top:100px;margin-left:-5px;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-master.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-amex {
    position: absolute;height:30px;top:100px;margin-left:36%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-amex.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-discover {
    position: absolute;height:30px;top:100px;margin-left:70%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-discover.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-wex {
    position: absolute;height:30px;top:150px;margin-left:-5px;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-wex.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-cash {
    position: absolute;height:30px;top:150px;margin-left:36%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-cash.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-other {
    position: absolute;height:30px;top:150px;margin-left:70%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-other.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}


#payment-visa{
    position: absolute;height:30px;top:200px;margin-left:-5px;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-visa.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}

#payment-voyager {
    position: absolute;height:30px;top:200px;margin-left:36%;cursor: pointer;
    padding-left: 40px; font-weight: normal;
    background: url('../img/icons-dotbg.png') no-repeat 0px 0px;color: #666;
}
#payment-voyager.select {
    background: url('../img/icons-dotbg.png') no-repeat 0px -30px;color: #6cb25e;
}
